<!--header-->
<!--header_top-->
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="contactinfo">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a href="#"><i class="fa fa-phone"></i> +2 95 01 88 821</a>
          </li>
          <li class="nav-item">
            <a href="#"><i class="fa fa-envelope"></i> info@domain.com</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="social-icons pull-right">
        <ul class="nav nav-pills">
          <li>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-dribbble"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-google-plus"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
