<div class="header-middle">
  <!--header-middle-->
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="logo pull-left">
          <a href="index.html"
            ><img src="../../assets/images/home/logo.png" alt=""
          /></a>
        </div>
        <div class="btn-group pull-right">
          <div class="btn-group">
            <button
              type="button"
              class="btn btn-default dropdown-toggle usa"
              data-toggle="dropdown"
            >
              USA
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Canada</a></li>
              <li><a href="#">UK</a></li>
            </ul>
          </div>

          <div class="btn-group">
            <button
              type="button"
              class="btn btn-default dropdown-toggle usa"
              data-toggle="dropdown"
            >
              DOLLAR
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Canadian Dollar</a></li>
              <li><a href="#">Pound</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="shop-menu pull-right">
          <ul class="nav">
            <li>
              <a href="#"><i class="fa fa-user"></i> Account</a>
            </li>
            <li>
              <a href="#"><i class="fa fa-star"></i> Wishlist</a>
            </li>
            <li>
              <a href="checkout.html"
                ><i class="fa fa-crosshairs"></i> Checkout</a
              >
            </li>
            <li>
              <a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a>
            </li>
            <li>
              <a href="login.html"><i class="fa fa-lock"></i> Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/header-middle-->
<div class="header-bottom">
  <!--header-bottom-->
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <div class="collapse navbar-collapse">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="#"
                    >Home</a
                  >
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="mainmenu pull-left"></div>
      </div>
      <div class="col-sm-3">
        <div class="search_box pull-right">
          <input type="text" placeholder="Search" />
        </div>
      </div>
    </div>
  </div>
</div>
<!--/header-bottom-->
